
@model Sales.Models.ViewModels.Login

<main>
    <section class="auth">
        <form asp-controller="Auth" class="auth__form" asp-action="Login">
            <div class="mdl-textfield mdl-js-textfield">

                <input asp-for="Code" class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label" asp-for="Code">Введите промокод</label>
                <span asp-validation-for="Code"></span>
            </div>
            
            <div class="auth__button">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit">Войти</button>
            </div>

            <div class="auth__link">
                <a asp-action="Register" asp-controller="Auth">Получить промокод</a>
            </div>
        </form>
    </section>
</main>
