
@model Sales.Models.ViewModels.Login

<main>
    <section class="auth">
        <form asp-controller="Auth"  class="auth__form" asp-action="Login">
            <div>
                <label asp-for="Code" >Введите промокод</label>
                <input asp-for="Code" type="text" />
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
            <div>
                <a asp-action="Register" asp-controller="Auth">Получить промокод</a>
            </div>
        </form>
    </section>
</main>