@page
@model Sales.Views.Auth.LoginModel
@{
}
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="auth">
        <form class="auth__form" asp-action="Login">
            <div>
                <label asp-for="Promocode">Введите промокод</label>
                <input type="text" asp-for="Promocode" />
            </div>
        </form>
    </section>
</main>