@page
@model Sales.Views.Auth.LoginModel
@{
}


<main>
    <section class="auth">
        <form class="auth__form" asp-action="Login">
            <div>
                <label >Введите промокод</label>
                <input type="text" />
            </div>
            <div>
                <a asp-action="Register" asp-controller="Auth">Получить промокод</a>
            </div>
        </form>
    </section>
</main>