<!DOCTYPE html>
<html>
<head>
    
    <title>@ViewData["Title"] - Sales</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <header class="header">
        <h1 class="header__name">
            Sales
        </h1>
    </header>
            @RenderBody()
        
</body>
</html>
